.cover {
    width: 20%;
    object-fit: cover;
}

.playlists {
    height:600px;
    overflow:auto;
}

.playlistrow {
    display: flex;
    flex-direction: row;
    gap: 2%;
    align-items: center;
    background-color: rgb(211, 210, 210);
}

.playlistrow2 {
    @extend .playlistrow
}