
.playlists {
    height:600px;
    overflow:auto;
}

.playlistrow {
    display: flex;
    flex-direction: row;
    gap: 2%;
    align-items: center;
    background-color: rgb(211, 210, 210);
}

.spotifySvg {
    width: 20px;
    height: auto;
    object-fit: cover;
    float: right;
}